#*
@description: 默认页脚
*#
<!-- Footer -->
<footer class="row">
<div class="large-12 columns">
  <hr />
  <div class="row">
    <div class="large-6 columns">
      <p>有关于spider的相关问题或者建议欢迎咨询@阿虫 <a href="mailto:603227937@qq.com">603227937@qq.com</a></p>
    </div>
    <div class="large-6 columns">
      <ul class="inline-list right">
        <li><a href="#">首页</a></li>
        <li><a href="#">下载及使用</a></li>
        <li><a href="#">开发及构建</a></li>
        <li><a href="#">问与答</a></li>
      </ul>
    </div>
  </div>
</div>
</footer>
## 配置js
#SLITERAL($!ui.js)
#SLITERAL($!ui.__script)
</body>
</html>